/* 整體設定 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}
body{
    width:1920px;
    height:1080px;
    margin:auto;
}
.d-flex{
    display: flex;;
}
.container{
    width:75%;
    margin:auto;
}
main{
    height:calc(100vh - 130px);
}
footer{
    background:lightskyblue;
    color:darkblue;
    padding:1em;
    width:1920px;
    line-height:1em;
    text-align:center;
    position:fixed;
    bottom:0;
}

/*頁首導覽列*/
header{
    padding:1em;
    background-color:lightskyblue;
    box-shadow: 0 0 5px #999;
}
nav.container{
    justify-content: space-between;
}
nav a{
    font-size:1.2em;
    margin:0 0.25em;
    text-decoration:none;
    text-align:center;
    padding:0.25em 1em;
}
nav a:hover,
nav .active{
    text-decoration:underline;
    background:#EEE;
    border-radius:15px;
    box-shadow: 0px 2px 5px #999;
}

.icons{
    display:flex;
    width:50%;
    justify-content: center;
    position:absolute;
    left:calc(50% / 2);
    bottom:4rem;
}
.icons .icon{
    margin:0.25rem;
    cursor: pointer;
}
/*首頁設定*/
#home main{
 padding:5rem;
 text-align: center;
}
#home .card{
    width:100%;
    flex-shrink: 0;
    position:relative;
}
#home .card h3{
    margin:0.75em 0;
    position:absolute;
    bottom:5rem;
}
#home .card div{
    position:absolute;
    bottom:3rem;
    overflow: hidden;
    text-align: left;;
}
#home img{
    width:100%;
    height:100%;
    border-radius:1.5em;
}
#home #slide{
    display:flex;
    width:80%;
    height:40vh;
    overflow:hidden;
    margin:auto;
    position:relative;
}
#home .btns{
    width:80%;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#home .btn{
    border:1px solid #999;
    border-radius: 50%;
    width:20px;
    height:20px;
    margin:1rem;
    background:white;
}
#home .btns .active{
    background:gray;
}
#home .event{
    width:80%;
    padding:2rem;
    box-shadow: 0 0 10px #ccc;
    margin:2rem auto;
}

#home .event div{
    text-align: left;
    margin:1rem 0;
}
/*新聞頁設定*/
#news #list{
    width:75%;
    margin:1rem auto;
    height:70vh;
    overflow: auto;
    padding:1rem;
}

#news article{
    width:95%;
    height:20vh;
}
#news article .media{
 width:15vh;
 height:15vh;
 min-width:100px;
 min-height:100px;
 display:inline-block;
 float:left;
 vertical-align: top;
 margin:0.5rem;
}
#news article img{
    width:100%;
    height:100%;
}
#news article h3{
    padding:0.5rem;
}
#news article h3 .btn{
    padding:0.25rem 1rem;
    border:1px solid #999;
    border-radius:1rem;
    float:right;
    font-weight:300;
}
#news article h3 .btn:hover{
    background-color: lightgreen;
    cursor: pointer;
}
#news article section{
    padding:0.5rem;
}

#news .info{
    width:100%;
    height:25%;
    position:absolute;
    bottom:0px;
    background:rgba(200,200,200,0.7);
    padding:1em;
    line-height:1.4em;
}

/*裝置頁設定*/
#devices main{
    justify-content: center;
    position:relative;
    align-items: center;
}

#devices .left,
#devices .right{
width:48%;
height:70vh;
margin:1%;
padding:1rem;
border:1px solid #ccc;
box-shadow: 1px 1px 10px #ccc;

}

#devices .left img{
    width:100%;
    height:100px;
}

/*登入頁設定*/

#login .login-box{
    padding:2rem;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 0 15px #ccc;
    max-width:60%;
    min-width:40rem;
    margin:3rem auto;
}

#login .form{
    width:100%;
    padding:2rem;
}
#login label{
    display:block;
    margin:1rem;
    font-size:1.25rem;
}
#login label div{
    padding:0.25rem;
}
#login label input{
    width:100%;
    font-size:1.2em;
    border-radius:0.5em;
    padding:0.75rem;
}

#login input[type='submit']{
    display:block;
    padding:0.5rem 1rem;
    width:50%;
    margin:1rem auto;
    font-size:1.25rem;
    border-radius:0.5em;
}
