/* 整體設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    width: 1920px;
    height: 1080px;
    margin: auto;
    background-image: url(./img/bg.jpg);
    background-size: cover;
}

header {
    background-color: lightskyblue;
    box-shadow: 0 0 5px #999;
    height: 4rem;
}

main {
    height: calc(100vh - 7rem);
}

footer {
    background: lightskyblue;
    color: darkblue;
    width: 1920px;
    height: 3rem;
    position: fixed;
    bottom: 0;
}

/*通用css設定*/
.d-flex {
    display: flex;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    margin:1rem auto;
}

/*設定只要放在.media樣式中的圖片或影片都是100%寬高，
這樣只需要各頁面設定外部.media樣式的外觀寬高就可以了*/
.media img{
    width:100%;
    height:100%;
}

/*頁首導覽列*/

nav.container {
    justify-content: space-between;
}

nav a {
    font-size: 1.2em;
    margin: 0 0.25em;
    text-decoration: none;
    padding: 0.25em 1em;
}

nav a:hover,
nav .active {
    text-decoration: underline;
    background: #EEE;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #999;
}

/*社群分享圖示設定*/
.social-icons {
    display: flex;
    width: 50%;
    justify-content: center;
    position: fixed;
    left: calc(50% / 2);
    bottom: 4rem;
}

.social-icons div {
    margin: 0.25rem;
    cursor: pointer;
}


/*首頁設定*/
#home main {
    padding: 5rem;
}

#home #slides {
    display: flex;
    width: 80%;
    height: 40vh;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius:2rem;
}

#home .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#home .slide .title{
    margin: 0.75em 0;
    font-size: 3rem;
    position: absolute;
    bottom: 5rem;
    left:3rem;
    color:white;
    text-shadow: 1px 1px 10px lightseagreen;
}

#home .slide section {
    width:80%;
    position: absolute;
    left:3rem;
    bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: left;
    color:lightgreen;
    text-shadow: 1px 1px 5px green;
}

#home .ctrl-btns {
    width: 80%;
    margin: auto;
}

#home .btn {
    border-radius: 50%;
    background-color:orange;
    width:2rem;
    height: 2rem;
    margin: 1rem;
    cursor: pointer;
    color:white
}

#home .btn:hover {
    background: green;
}

#home .event {
    width: 80%;
    padding: 1rem;
    box-shadow: 0 0 10px #ccc;
    margin: 1rem auto; 
}

#home .event section {
    text-align: left;
    margin: 1rem 0;
    font-size:1.2rem;
    background:rgba(0,200,0,0.4);
}

/*新聞頁設定*/
#news #list {
    width: 95%;
    margin: 1rem auto;
    height: 78vh;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#news article {
    width: 30%;
    height: 36vh;
    border: 1px solid #ccc;
    padding: 0.75rem;
    display: block;
    position:relative;
}

#news article .media {
    width: 100%;
    height: 15vh;
    display: block;
}

#news article .title {
    font-size:1.2rem;
    font-weight:bolder;
    padding: 0.25rem;
}

#news article .news-view {
    padding: 0.25rem 1rem;
    border: 1px solid #999;
    border-radius: 1rem;
    position:absolute;
    bottom:1rem;
    right:1rem;
}

#news article .news-view:hover {
    background-color: lightgreen;
    cursor: pointer;
}

#news article section {
    padding: 0.5rem;
    height: 6rem;
    overflow: hidden;
}

/*探索頁設定*/
#discover .info-block{
    width: 96%;
    height: 40vh;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
   /*  border: 1px solid #ccc; */
   /*  box-shadow: 1px 1px 10px #ccc; */
}

#discover .media {
    width: 35%;
    height:40%;
}

#discover .title{
    font-size:1.5rem;
    font-weight: bold;
    line-height: 3rem;
}
#discover section{
    font-size:1.2rem;
    line-height:1.8rem;
}

/*購票頁設定*/
#tickets .tickets-box {
    padding: 2rem;
    border-radius: 2em;
    box-shadow: 0 0 15px #ccc;
    width:60rem;
    margin: 3rem auto;
}

#tickets .form {
    width: 100%;
    padding: 2rem;
}

#tickets label {
    display: block;
    margin: 1rem;
    font-size: 1.25rem;
}

#tickets label div {
    padding: 0.25rem;
}

#tickets label input {
    width: 100%;
    font-size: 1.2em;
    border-radius: 0.5em;
    padding: 0.75rem;
}

#tickets input[type='submit'] {
    display: block;
    padding: 0.5rem 1rem;
    width: 80%;
    margin: 1rem auto;
    font-size: 1.25rem;
    border-radius: 0.5em;
}